{% extends 'core.html' %}

{% block contitle %}
    New Password
{% endblock contitle %}

{% block content %}

{% if messages %}
  <ul class="messages alert alert-danger">
      {% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
          {{ message }}
      </li>
      {% endfor %}
  </ul>
{% endif %}

<form action="/password_change/{{id}}/" class="mx-1 mx-md-4" method="POST">
    {% csrf_token %}
    <div class="form-outline mb-4">
      <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
      <div class="form-outline flex-fill mb-0">
        <input name="password" type="password" id="form3Example4c" class="form-control" />
        <label class="form-label" for="form3Example4c">Password</label>
      </div>
    </div>

     <!-- Password input -->
    <div class="form-outline mb-4">
      <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
      <div class="form-outline flex-fill mb-0">
      <input name="confirmpassword" type="password" id="registerPassword" class="form-control" />
      <label class="form-label" for="registerPassword">confirmPassword</label>
      </div>
    </div>

    <!-- {{id}} -->
    <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">     
        <input type="hidden" name="id" value="{{id}}">
        <input type="submit" value="Change password" class="btn btn-primary btn-lg">          
    </div>
  </form>

{% endblock content %}